Makefile
Makefile.in
aclocal.m4
autom4te.cache
**/*~
configure
depcomp
install-sh
missing
.deps
config.log
config.h
config.h.in
config.status
**/*.o
stamp-h1
schema_mysql.h
opendnssec
opendnssecd
**/*-Results.xml
test-driver
**/*.log
**/.dirstamp
test
compile
test.trs
