Makefile
Makefile.in
aclocal.m4
autom4te.cache
**/*~
configure
depcomp
install-sh
missing
opendnssec.o
.deps
config.log
config.h
config.h.in
config.status
**/*.o
stamp-h1
opendnssec
opendnssecd
**/*-Results.xml
